footer
	bottom 0
	left 0
	position fixed
	z-index 3
	
#cont_segmento_acciones
	margin-top: 20px

#cont_principal
	margin-top 60px

#menu_superior, #cont_configuracion, #cont_reportes, #cont_indicadores, #cont_aplicaciones, #cont_bitacora
	.icon
		cursor pointer
		
#menu_superior
	position: fixed;
	width: 100%
	z-index 3

#tbl_politicas
	td
		vertical-align: middle

.clear
	clear both

/*Caja de texto de la configuración de
las políticas de indicadores*/
.input_politica
	border: 1px solid #BEBABA
	background: transparent;
	color:#333333;
	text-align: right
	width: 75px;

/*Le da un espacio al pié de página para
que no se sobreponga al contenido de las interfaces*/
.limite_pie
	clear: both
	margin-bottom: 80px

